# Ignore Play! working directory #
lib
log
logs
dist
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml

# Ignore most of the IntelliJ
*.iws
tasks.xml
workspace.xml
.idea/libraries