@(registrationForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

    @title = {
        Register
    }

@main(title, nav = "Registration") {

    @helper.form(action = routes.Registration.submit) {

        <div class="row">
            <div class="span6">
                <fieldset>
                    <legend>Account information</legend>

                    @inputText(
                        registrationForm("username"),
                        '_label -> "Username",
                        '_help -> "Please choose a valid username.",
                        '_error -> registrationForm.globalError
                    )

                    @inputText(
                        registrationForm("email"), '_label -> "Email",
                        '_help -> "Enter a valid email address."
                    )

                    @inputPassword(
                        registrationForm("password.main"),
                        '_label -> "Password",
                        '_help -> "A password must be at least 6 characters. "
                    )

                    @inputPassword(
                        registrationForm("password.confirm"),
                        '_label -> "Repeat password",
                        '_help -> "Please repeat your password again.",
                        '_error -> registrationForm.error("password")
                    )

                </fieldset>
            </div>
            <div class="span6">
                <fieldset>

                    <legend>Contact Information</legend>

                    @inputText(
                        registrationForm("address1"),
                        '_label -> "Address 1",
                        '_showConstraints -> false
                    )

                    @inputText(
                        registrationForm("address2"),
                        '_label -> "Address 2",
                        '_showConstraints -> false
                    )

                    @inputText(
                        registrationForm("city"),
                        '_label -> "City",
                        '_showConstraints -> false
                    )

                    @inputText(
                        registrationForm("state"),
                        '_label -> "State",
                        '_showConstraints -> false
                    )

                    @inputText(
                        registrationForm("zip"),
                        '_label -> "Zip",
                        '_showConstraints -> false
                    )

                    @inputText(
                        registrationForm("phone1_no"),
                        '_label -> "Phone",
                        '_showConstraints -> false
                    )
                    @helper.inlineRadio(
                        registrationForm("phone1_type"),
                        options = Seq("C" -> "Cell", "H" -> "Home", "W" -> "Work", "O" -> "Other"),
                        '_label -> "Phone Type",
                        'class -> "radio inline",
                        '_showConstraints -> false
                    )

                </fieldset>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="span12">
                <fieldset>

                @checkbox(
                    registrationForm("accept"),
                    '_label -> None, '_text -> "I agree to Signup's terms and conditions",
                    '_showConstraints -> false
                )

                </fieldset>

                <div class="actions">
                    <input type="submit" class="btn primary" value="Sign Up">
                    <a href="@routes.Application.index" class="btn">Cancel</a>
                </div>
            </div>
        </div>

    }

}