@main(Html("SignUp")) {

    <div class="hero-unit">
        <h1>Sign-Up Today</h1>
        <p>Signing up for a course is simple and free.  You can Sign-Up your child for one of many fascinating courses in progressive fields such as robotics and today. </p>
        <p><a href="#" class="btn btn-primary btn-large" href="@routes.Registration.form">Sign-Up &raquo;</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Courses</h2>
            <p>Search for courses near you</p>
            <p><a class="btn" href="#">Search &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>School</h2>
            <p>Register your School to attract more students and simplify your registration and administration of your courses.</p>
            <p><a class="btn" href="#">Register &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Teacher</h2>
            <p>Apply to Teach kids as  part or full time teacher in progressive fields such as robotics, game development, or animation.</p>
            <p><a class="btn" href="#">Apply &raquo;</a></p>
        </div>
    </div>
}